.comments{
  text-align: center;
  &__content{

    padding: 1.9rem 0 1.9rem 16.8rem;
    align-items: center;
  }
  &__title{


    color: #0B132A;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.1rem;
  }
  &__subtitle{
    color: #4F5665;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9rem;

    margin: 1.2rem 0 3.1rem;
  }
  &__list{
    display: flex;
    column-gap: 3.9rem;

  }
  &__item3{
    border-radius: 10px 0 0 10px;
    border-top: 2px solid #DDD;
    border-left: 2px solid #DDD;
    border-bottom: 2px solid #DDD;

    width: 27.5rem;

    padding: 1.9rem;
  }
  &__item{
    border-radius: 10px;
    border: 2px solid #DDD;

    width: 27.5rem;

    padding: 1.9rem;

    &-text{
      color: #0B132A;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.9rem;

      text-align: left;
    }

    &-top{
      text-align: left;

      display: flex;
      justify-content: space-between;
      align-items: center;
      &-info{
        display: flex;
        column-gap: 1rem;
        align-items: center;
        &-text{
          display: flex;
          flex-direction: column;
          row-gap: 5px;
        }
        &-name{
          color: #0B132A;
          font-size: 1.1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.9rem;
        }
        &-country{
          color: #4F5665;
          font-size: 0.9rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.9rem;
        }
      }
      &-rating{
        display: flex;
        column-gap: 5px;
        align-items: center;
      }

    }
  }
  &__navigation{
    margin-top: 4.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-left{
      display: flex;
      column-gap: 1rem;

    }
    &-right{
      display: flex;
      column-gap: 1.2rem;
    }
    &-rectangle{
      border-radius: 10px;
      background: #F53838;
      width: 40px;
      height: 17px;
      border: none;
    }
    &-circle{
      border-radius: 50%;
      background: #DDE0E4;
      width: 17px;
      height: 17px;
    }
    &-btn{
      &-left{
        background: transparent;
        border-radius: 50%;
        padding: 0.8rem 1rem;
        border: 1px solid #F53838;
        cursor: pointer;
      }
      &-right{
        background: #F53838;
        border-radius: 50%;
        padding: 0.8rem 1rem;
        border: 1px solid #F53838;
        cursor: pointer;
      }
    }
  }
}