.footer{
  padding-bottom: 6.1rem;
  background: #F8F8F8;
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__left{
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;
    &-info{
      color: #4F5665;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.9rem;

      max-width: 320px;
      width: auto;

      &-vpn{
        color: #4F5665;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.9rem;
      }
    }
    &-links{
      display: flex;
      column-gap: 1.2rem;
    }
    &-link{
      border-radius: 50%;
      padding: 10px;
      background: #FFF;
      border: 1px solid transparent;
    }
    &-text{
      color: #AFB5C0;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.9rem;
      &-vpn{
        color: #AFB5C0;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.9rem;
      }
    }
  }

  &__right{
    display: flex;
    column-gap: 7.7rem;
    &-list{
      display: flex;
      flex-direction: column;
      row-gap: 0.7rem;

      margin-top: 1.1rem;
    }
    &-title{
      color: #0B132A;
      font-size: 1.1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.9rem;
    }
    &-item{
      color: #4F5665;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.9rem;
    }
  }
}