.header{
  padding: 30px 0;
  &__logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
    &-title{
      color: #0B132A;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  &__content{
    display: flex;
    align-items: center;

    column-gap: 9.5rem;
  }
  &__nav{
    display: flex;
    column-gap: 2.3rem;
    &-item{
      color: #4F5665;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &__buttons{
    display: flex;
    column-gap: 1.9rem;
    &-signIn{
      color: #0B132A;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border: none;
      background: transparent;
      cursor: pointer;
    }
    &-signUp{
      color: #F53855;
      padding: 0.8rem 2.9rem;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border-radius: 50px;
      border: 1px solid #F53855;
      cursor: pointer;
      background: transparent;
    }
  }

}