* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
  list-style-type: none;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 71.25rem;
  margin: 0 auto;
}

.icon {
  font-size: 1.2rem;
  color: #F53838;
}

.firstSection {
  width: 100%;
  padding: 3.1rem 0;
}
.firstSection__top {
  display: flex;
  width: 100%;
  column-gap: 2.6rem;
}
.firstSection__right-img {
  width: 120%;
}
.firstSection__left {
  width: 60%;
}
.firstSection__left-title {
  color: #0B132A;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.2rem;
}
.firstSection__left-title-vpn {
  color: #0B132A;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.2rem;
}
.firstSection__left-info {
  color: #4F5665;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  margin: 1.2rem 0 3.1rem;
}
.firstSection__left-info-vpn {
  color: #4F5665;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.9rem;
}
.firstSection__left-btn {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4rem;
  border-radius: 10px;
  background: #F53838;
  padding: 1.1rem 3.1rem;
  border: none;
  cursor: pointer;
}
.firstSection__bottom {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 6.9rem;
  border-radius: 10px;
  background: #FFF;
  margin: 4.2rem 0;
  padding: 2.2rem 0;
}
.firstSection__bottom-line {
  height: 80px;
  width: 1px;
  border: 1px solid #EEEFF2;
  stroke: #EEEFF2;
}
.firstSection__bottom-block {
  display: flex;
  align-items: center;
  column-gap: 2.2rem;
}
.firstSection__bottom-block-text {
  color: #4F5665;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
}
.firstSection__bottom-block-count {
  color: #0B132A;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.9rem;
}
.firstSection__bottom-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
  left: 0;
  border-radius: 10px;
  opacity: 0.06;
  background: #0D1025;
  filter: blur(57px);
  z-index: -1;
}

.header {
  padding: 30px 0;
}
.header__logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.header__logo-title {
  color: #0B132A;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__content {
  display: flex;
  align-items: center;
  column-gap: 9.5rem;
}
.header__nav {
  display: flex;
  column-gap: 2.3rem;
}
.header__nav-item {
  color: #4F5665;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__buttons {
  display: flex;
  column-gap: 1.9rem;
}
.header__buttons-signIn {
  color: #0B132A;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background: transparent;
  cursor: pointer;
}
.header__buttons-signUp {
  color: #F53855;
  padding: 0.8rem 2.9rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 50px;
  border: 1px solid #F53855;
  cursor: pointer;
  background: transparent;
}

.secondSection {
  width: 100%;
  padding: 1.2rem 0;
}
.secondSection__img {
  width: 127%;
}
.secondSection__content {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10.6rem;
}
.secondSection__right {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.secondSection__right-title {
  color: #0B132A;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.1rem;
}
.secondSection__right-info {
  color: #4F5665;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  margin: 1.3rem 0 1.2rem;
}
.secondSection__right-text {
  color: #4F5665;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
}
.secondSection__right-block {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.secondSection__right-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.plan {
  padding: 4.2rem 0 7.3rem;
}
.plan__title {
  color: #0B132A;
  text-align: center;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.1rem;
}
.plan__subtitle {
  color: #4F5665;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  text-align: center;
  margin: 1.2rem 3.1rem;
}
.plan__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.6rem;
}
.plan__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.8rem 3.1rem;
  border-radius: 10px;
  border: 2px solid #DDD;
  background: #FFF;
}
.plan__box-img {
  width: 9rem;
}
.plan__box-title {
  color: #0B132A;
  font-size: 1.1rem;
  font-style: normal;
  line-height: 1.9rem;
  margin: 1.9rem 0;
}
.plan__box-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}
.plan__box-item {
  display: flex;
  column-gap: 15px;
  align-items: center;
}
.plan__box-price3 {
  margin: 2.8rem 0 1.2rem !important;
}
.plan__box-price2 {
  margin: 93px 0 1.2rem !important;
}
.plan__box-price {
  color: #0B132A;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.9rem;
  margin: 8.9rem 0 1.2rem;
}
.plan__box-price-span {
  color: #4F5665;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
}
.plan__box-btn {
  border-radius: 50px;
  border: 2px solid #F53838;
  color: #F53838;
  background: transparent;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0.9rem 5rem;
  cursor: pointer;
}
.plan__box-btn:hover {
  background: #F53838;
  color: #FFFFFF;
}

.location {
  padding: 1.9rem 0;
  text-align: center;
}
.location__title {
  color: #0B132A;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.1rem;
}
.location__subtitle {
  color: #4F5665;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  margin: 1.2rem 0 6.2rem;
}
.location__subtitle-vpn {
  color: #4F5665;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.9rem;
}
.location__img {
  width: 100%;
}

.comments {
  text-align: center;
}
.comments__content {
  padding: 1.9rem 0 1.9rem 16.8rem;
  align-items: center;
}
.comments__title {
  color: #0B132A;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.1rem;
}
.comments__subtitle {
  color: #4F5665;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  margin: 1.2rem 0 3.1rem;
}
.comments__list {
  display: flex;
  column-gap: 3.9rem;
}
.comments__item3 {
  border-radius: 10px 0 0 10px;
  border-top: 2px solid #DDD;
  border-left: 2px solid #DDD;
  border-bottom: 2px solid #DDD;
  width: 27.5rem;
  padding: 1.9rem;
}
.comments__item {
  border-radius: 10px;
  border: 2px solid #DDD;
  width: 27.5rem;
  padding: 1.9rem;
}
.comments__item-text {
  color: #0B132A;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  text-align: left;
}
.comments__item-top {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comments__item-top-info {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
.comments__item-top-info-text {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.comments__item-top-info-name {
  color: #0B132A;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.9rem;
}
.comments__item-top-info-country {
  color: #4F5665;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
}
.comments__item-top-rating {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.comments__navigation {
  margin-top: 4.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comments__navigation-left {
  display: flex;
  column-gap: 1rem;
}
.comments__navigation-right {
  display: flex;
  column-gap: 1.2rem;
}
.comments__navigation-rectangle {
  border-radius: 10px;
  background: #F53838;
  width: 40px;
  height: 17px;
  border: none;
}
.comments__navigation-circle {
  border-radius: 50%;
  background: #DDE0E4;
  width: 17px;
  height: 17px;
}
.comments__navigation-btn-left {
  background: transparent;
  border-radius: 50%;
  padding: 12px 15px;
  border: 1px solid #F53838;
  cursor: pointer;
}
.comments__navigation-btn-right {
  background: #F53838;
  border-radius: 50%;
  padding: 0.8rem 1rem;
  border: 1px solid #F53838;
  cursor: pointer;
}

.subscribe {
  position: relative;
  padding: 3.9rem 0;
  background: linear-gradient(to bottom, transparent 50%, #F8F8F8 50%);
}
.subscribe__content {
  width: 100%;
  border-radius: 10px;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.7rem 4.3rem;
}
.subscribe__title {
  color: #0B132A;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
}
.subscribe__subtitle {
  color: #4F5665;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
}
.subscribe__btn {
  min-width: 198px;
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.7rem;
  padding: 1.1rem 3.4rem;
  border-radius: 10px;
  background: #F53838;
  border: none;
  cursor: pointer;
}

.footer {
  padding-bottom: 100px;
  background: #F8F8F8;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__left {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
}
.footer__left-info {
  color: #4F5665;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  max-width: 320px;
  width: auto;
}
.footer__left-info-vpn {
  color: #4F5665;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.9rem;
}
.footer__left-links {
  display: flex;
  column-gap: 1.2rem;
}
.footer__left-link {
  border-radius: 50%;
  padding: 10px;
  background: #FFF;
  border: 1px solid transparent;
}
.footer__left-text {
  color: #AFB5C0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
}
.footer__left-text-vpn {
  color: #AFB5C0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.9rem;
}
.footer__right {
  display: flex;
  column-gap: 120px;
}
.footer__right-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 20px;
}
.footer__right-title {
  color: #0B132A;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.9rem;
}
.footer__right-item {
  color: #4F5665;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
}

@media screen and (min-width: 1200px) {
  * {
    font-size: 16px;
  }
}
@media screen and (max-width: 1101px) {
  .container {
    max-width: 64rem;
  }
  .header__content {
    column-gap: 7rem;
  }
  .header__buttons-signUp {
    padding: 0.8rem 2rem;
  }
  .firstSection__right-img {
    width: 100%;
  }
  .comments__content {
    padding: 1.9rem 0 1.9rem 14.8rem;
  }
  .container {
    max-width: 65rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  * {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  * {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  * {
    font-size: 12px;
  }
}

/*# sourceMappingURL=index.css.map */
