*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
  list-style-type: none;
  font-size: 16px;
}

.container{
  width: 100%;
  max-width: 71.25rem;
  margin: 0 auto;
}
.icon{
  font-size: 1.2rem;
  color: #F53838;
}



@import "firstSection";
@import "header";
@import "secondSection";
@import "plan";
@import "location";
@import "comments";
@import "subscribe";
@import "footer";
@import "media";

