
@media screen and (min-width: 1200px) {
  *{
    font-size: 16px;
  }
}
@media screen and (max-width: 1101px) {
  .container{
    max-width: 64rem;
  }
  .header{
    &__content{
      column-gap: 7rem;
    }
    &__buttons{
      &-signUp{
        padding: 0.8rem 2rem;
      }
    }
  }

  .firstSection{
    &__right{
      &-img{
        width: 100%;
      }
    }
  }
  .comments__content{
    padding: 1.9rem 0 1.9rem 14.8rem;
  }
  .container{
    max-width: 65rem;
  }
}
@media screen and (max-width: 1001px){


}



@media screen and (min-width: 992px) and (max-width: 1199px) {
  *{
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  *{
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  *{
    font-size: 12px;
  }
}