.plan{
  padding: 4.2rem 0 7.3rem;
  &__title{
    color: #0B132A;
    text-align: center;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.1rem;
  }
  &__subtitle{
    color: #4F5665;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9rem;

    text-align: center;
    margin: 1.2rem 3.1rem;
  }
  &__row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.6rem;
  }
  &__box{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.8rem 3.1rem;

    border-radius: 10px;
    border: 2px solid #DDD;

    background: #FFF;
    &-img{
      width: 9rem;
    }
    &-title{
      color: #0B132A;
      font-size: 1.1rem;
      font-style: normal;

      line-height: 1.9rem;

      margin: 1.9rem 0;
    }
    &-list{
      display: flex;
      flex-direction: column;
      row-gap: 1.2rem;
    }
    &-item{
      display: flex;
      column-gap: 15px;
      align-items: center;
    }
    &-price3{
      color: #0B132A;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.9rem;

      margin: 2.8rem 0 1.2rem;
    }
    &-price2{
      color: #0B132A;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.9rem;

      margin: 93px 0 1.2rem;
    }
    &-price{
      color: #0B132A;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.9rem;

      margin: 8.9rem 0 1.2rem;
      &-span{
        color: #4F5665;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.9rem;
      }
    }

    &-btn{
      border-radius: 50px;
      border: 2px solid #F53838;
      color: #F53838;
      background: transparent;

      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      padding: 0.9rem 5rem;
      cursor: pointer;
      &:hover{
        background: #F53838;
        color: #FFFFFF;
      }
    }
  }
}