.secondSection{
  width: 100%;
  padding: 1.2rem 0;
  &__img{
    width: 127%;

  }
  &__content{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 10.6rem;
  }
  &__right{
    display: flex;
    flex-direction: column;
    justify-content: end;
    &-title{
      color: #0B132A;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 3.1rem;
    }
    &-info{
      color: #4F5665;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.9rem;
      margin: 1.3rem 0 1.2rem;
    }
    &-text{
      color: #4F5665;
      font-size: 0.9rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.9rem;
    }
    &-block{
      display: flex;
      column-gap: 10px;
      align-items: center;
    }
    &-list{
      display: flex;
      flex-direction: column;
      row-gap: 1.2rem;
    }
  }
}