.subscribe{
  position: relative;

  padding: 3.9rem 0;
  background: linear-gradient(to bottom, transparent 50%,  #F8F8F8 50%);
  &__content{
    width: 100%;
    border-radius: 10px;
    background: #FFF;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 3.7rem 4.3rem;
  }
  &__title{
    color: #0B132A;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.8rem;
  }
  &__subtitle{
    color: #4F5665;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9rem;
  }
  &__btn{
    min-width: 198px;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.7rem;

    padding: 1.1rem 3.4rem;

    border-radius: 10px;
    background: #F53838;
    border: none;
    cursor:pointer;
  }
}